main {
    min-height: 80vh;
}

img.img-logo {
    width: 100px;
}
.head{
    background: #c2c3c2;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.days{
    margin-top: 1rem;
}
.days .card {
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.days .card:hover{
    transform: translateY(-0.5rem);
}